@charset "utf-8";

#concept .main-concept .width-fixed {
    position: relative;
    overflow: visible;
}

#concept .floating-txt {
    position: absolute;
    z-index: 99;
    top: 22%;
    right: 0;
    bottom: 0;
    width: 40.496%;
    max-height: 28%;
    min-height: 12%;
    padding: 50px;
    background: #fff;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

#concept .swiper-container {
    min-width: 1170px;
}

#concept .photo {
    width: 63.25%;
}

#concept section:not(.pagelink-area) .text-area {
    width: 36.75%;
    padding: 0 35px;
}

#concept section.morning{
    padding-top:50px;
}


#concept .main-concept .floating-txt + .swiper-container,
#concept .main-concept .swiper-container + ul {
    margin-top: 30px;
}

#concept figure + .width-fixed {
    margin-top: 30px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    #concept .floating-txt {
        position: static;
        top: 0;
        width: 100%;
        height: auto;
        max-height: auto;
        min-height: auto;
        padding: 20px 0 0 0;
        display: inherit;
    }

    #concept .swiper-container {
        min-width: auto;
    }

    #concept .introduction .photo {
        width: 100%;
    }
     #concept .make-story .photo {
        width:100%!important;
     }
    #concept .make-story .photo img{
        width: 63%!important;
    }
  
    #concept section:not(.pagelink-area) .text-area {
        width: 100%;
        padding: 0;
    }
    #concept .flex-sm-column-reverse{
        text-align: right;
    }
    #concept .text-area.order-first,
    #concept .main-concept .text-area {
        text-align: left;
    }

    #concept section:not(.pagelink-area) img {
        width: 100%;
    }

    #concept section:not(.pagelink-area) ul > li + li {
        margin-top: 30px;
    }
}
#concept .swiper-wrapper {
    transition-timing-function: linear;
}
