@charset "utf-8";
/*
html {
    min-width: auto;
}
*/
#concept .width-fixed {
    position: relative;
    overflow: visible;
    padding-right: 0;
}




#concept .swiper-container {
    min-width: 1170px;
}

#concept .photo {
    width: 63.25%;
}

#concept section:not(.pagelink-area) .text-area {
    width: 36.75%;
    padding: 35px;
}

#concept section.morning{
    padding-top:50px;
}


#concept .main-concept .floating-txt + .swiper-container,
#concept .main-concept .swiper-container + ul {
    margin-top: 30px;
}

#concept .swiper-wrapper {
    transition-timing-function: linear;
}

#concept figure + .width-fixed {
    margin-top: 30px;
}


@media screen and (min-width: 0px) and (max-width: 1280px) {
   
    #concept .photo {
        width:100%!important;
     }
    #concept .photo img{
        width: 63%!important;
    }
  
    #concept section:not(.pagelink-area) .text-area {
        width: 100%;
        padding: 35px 0;
    }
    #concept .flex-sm-column-reverse{
        text-align: right;
    }
    #concept .text-area.order-first,
    #concept .main-concept .text-area {
        text-align: left;
    }

    #concept section:not(.pagelink-area) img {
        width: 100%;
    }

    #concept section:not(.pagelink-area) ul > li + li {
        margin-top: 30px;
    }

}
@media screen and (min-width: 0px) and (max-width: 895px) {


    #concept .swiper-container {
        min-width: auto;
    }

    #concept section:not(.pagelink-area) .text-area {

        padding: 0;
    }
  
}
