@charset "utf-8";

#concept .main-concept .width-fixed {
    position: relative;
    overflow: visible;
}

#concept .floating-txt {
    position: absolute;
    z-index: 99;
    top: 22%;
    right: 0;
    bottom: 0;
    width: 40.496%;
    max-height: 28%;
    min-height: 12%;
    padding: 50px;
    background: #fff;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

#concept .swiper-container {
    min-width: 1170px;
}

#concept .photo {
    width: 63.25%;
}

#concept section:not(.pagelink-area) .text-area {
    width: 36.75%;
    padding: 0 35px;
}

#concept section.morning{
    padding-top:50px;
}


#concept .main-concept .floating-txt + .swiper-container,
#concept .main-concept .swiper-container + ul {
    margin-top: 30px;
}

#concept figure + .width-fixed {
    margin-top: 30px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    #concept .floating-txt {
        position: static;
        top: 0;
        width: 100%;
        height: auto;
        max-height: auto;
        min-height: auto;
        padding: 20px 0 0 0;
        display: inherit;
    }

    #concept .swiper-container {
        min-width: auto;
    }

    #concept .introduction .photo {
        width: 100%;
    }
     #concept .make-story .photo {
        width:100%!important;
     }
    #concept .make-story .photo img{
        width: 63%!important;
    }
  
    #concept section:not(.pagelink-area) .text-area {
        width: 100%;
        padding: 0;
    }
    #concept .flex-sm-column-reverse{
        text-align: right;
    }
    #concept .text-area.order-first,
    #concept .main-concept .text-area {
        text-align: left;
    }

    #concept section:not(.pagelink-area) img {
        width: 100%;
    }

    #concept section:not(.pagelink-area) ul > li + li {
        margin-top: 30px;
    }
}
#concept .swiper-wrapper {
    transition-timing-function: linear;
}


@media screen and (min-width: 768px)  {
    body#concept::before {
        width: 0px;
        background-color:none;
    }

    #concept #access-area h2,#concept .contents h3.title{
        padding-left: 40px;

    }
    #concept section {
        padding-top: 110px;
        padding-left:0px;
    }

    #concept .inner {
        padding: 0px;
    }
    #concept .width-fixed {
        padding-right: 0px;
    }

    #concept .pagelink-area {

        margin: 110px 0 0 0px;
        padding: 80px 40px 55px 40px;
    }


    #concept header {
        left: 0;
        top: 0;
        z-index: 9999;
        width: 100%;
        height: auto !important;
        text-align: left;
        padding-bottom: 0;
    }
    #concept header .logo-area {
        width: 100%;
        position: fixed;
        z-index: 3;
        height: 60px;
        background-color: #fc8d7d;
        padding: 0;
    }
    #concept header .logo-area h1 {
        padding-top: 5px;
        margin-left: 15px;
    }
    #concept header h1 img {
        width: auto;
        height: 50px;
    }
    #concept header #menu-icon {
        position: relative;
    }
    #concept header #menu-icon::after {
        position: absolute;
        right: 20px;
        top:6px;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        content: '\f0c9';
        font-size: 1.8rem;
        line-height: 45px;
    }
    #concept header #menu-cb:checked ~ #menu-icon::after {
        right: 20px;
        content: '\f00d';
    }
    #concept header #menu-icon {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;
    }
    #concept header #menu-navi {
        position: fixed;
        top: 60px;
        z-index: 100;
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: #fc8d7d;
        transition: all .5s;
        transform: translateX(100%);
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        text-align: center;
    }

    /*-- checkboxをクリックしたとき --*/
    #concept header #menu-cb:checked ~ #menu-navi {
        transform: translateX(0);
        padding-bottom: 50px;
    }
    #concept header .shareList {
        position: absolute;
        top: 4px;
        right: 45px;
        z-index: 4;
        width : auto;
        margin: 0;
        border-top: none;
        padding: 0;
    }
    #concept header .shareList li {
        width: auto;
    }
    #concept header .insta_btn {
        padding: 8px 0;
        width: 30px;
        text-align: center;
    }
    #concept header .insta_btn .fa-instagram {
        font-size: 2.2rem;
    }
    #concept header .insta_btn .fa-facebook-f {
        font-size: 1.6rem;
    }
    #concept header .insta_btn img {
        font-size: 2.2rem;
    }

    /*--PCの打ち消し--*/
    #concept header #site-navi hr {
        display: none;
    }
    #concept header #site-navi > ul {
        width: 100%;
        padding: 10px 12px;
        font-size: 1.4rem;
        border-top: solid 1px #000000;
    }
    #concept header #site-navi > ul > li > a {
        display: block;
        width: 100%;
        height: auto;
        line-height: 1.6;
        padding: 10px 0;
    }
    #concept header #site-navi > ul > li > a {
        position: relative;
    }
    #concept header #site-navi > ul > li > a:not(.current):before {
        content: none;
    }
    #concept header #site-navi > ul > li a.sp-aco::before {
        content: "\f067";
        position: absolute;
        top: 12px;
        right: 0;
        z-index: 1;
        margin: auto;
        border: none;
        display: block;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1;
        color: #000000;
    }
    #concept header #site-navi > ul > li > a.sp-aco.js-active::before {
        content: "\f068";
    }

    #concept header #site-navi > ul > #slide-navi:hover .site-subnavi {
        position: static;
        background: none;
        width: 100%;
        padding: 10px 0;
        height: auto;
        transition: none;
    }
    #concept header #site-navi > ul > li .site-subnavi dt {
        font-size: 1.2rem;
    }
    #concept header #site-navi > ul > li .site-subnavi dd {
        font-size: 1.0rem;
        line-height: 1.2;
    }
     #concept .header #site-navi .menu-area.row {
        margin-top: 0;
    }

}