@charset "utf-8";

/*
 * secret
***********************************************/
#secret .main-visual h2 {   
    top: 40%; 
}

/* 1 - 3 セクションのpadding打消し */
#secret section[id^="secret"] {
    padding-top: 0;
}

/* section introduction */
.secret-intro {
    font-family: 'Noto Serif Japanese', serif;
    text-align: center;
}

/* anker secret */

#secret section.anker-secret{
    padding:110px 40px;
}



.anker-secret ul > li {
    width: calc( 100% / 5 );
}

.anker-secret ul > li a {
    position: relative;
    text-align: center;
}

.anker-secret ul > li span {
    display: block;
}

.anker-secret .secret-numbering + .secret-numbering-title {
    margin-top: 10px;
}

.anker-secret .secret-numbering {
    display: block;
    font-size: 1.2rem;
    color: #fc8d7d;
}

.anker-secret .secret-numbering-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    font-family: 'Noto Serif Japanese', serif;
    font-weight: 500;
}

.anker-secret .secret-numbering-title:before,
.anker-secret li:last-child .secret-numbering-title:last-child:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 20px;
    margin: auto;
    background: #000000;
}

.anker-secret .secret-numbering-title:before {
    left: 0;
}

.anker-secret li:last-child .secret-numbering-title:after {
    right: 0;
}

/* full size section */
.secret-head {
    position: relative;
}
.secret-head h3.title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 25px;
    margin: auto;
}

.secret-head .eng.line {
    flex-direction: row-reverse;
    color: #000;
    width:400px;
}

.secret-head .eng.line::after {
    background: #000;
    margin-left: 0;
    margin-right: 25px;
}

.secret-head img {
    width: 100%;
}

.secret-head h2 {
    position: absolute;
    top: 0;
    right: 50px;
    bottom: 0;
    height: 76px;
    margin: auto;
    font-family: 'Noto Serif Japanese', serif;
    font-size: 3.6rem;
    font-weight: 500;
}

section[id^="secret"] ul > li {
    width: 50%;
}

.taste .text-area,
.materials .text-area,
.nonfly .text-area {
    display: inline-block;
    width: auto;
    margin: auto;
}

#secret section[id^="secret"] .text-area .catch,
#secret li[id^="secret"] .text-area .catch {
    font-family: 'Noto Serif Japanese', serif;
}

#secret section[id^="secret"] .text-area .catch {
    font-size: 2.4rem;
    margin-bottom: 36px;
}

#secret li[id^="secret"] .text-area .catch {
    margin-top: 30px;
    font-size: 1.8rem;
}

#secret li[id^="secret"] .text-area .cont-txt {
    margin-top: 20px;
    padding-right: 4rem;
}
#secret section.about-born{
    padding:110px 40px 0;
}
.about-born .text-area {
    position: relative;
    min-height: 193px;
    padding-bottom: 51px;
}

.about-born .more {
    position: absolute;
    display: inline-block;
    right: 0 !important;
    bottom: 0;
}

.about-born ul > li {
    width: calc((100% - 30px) / 2);
}

#secret li[id^="secret"] .eng.line {
    width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    
    #secret .inner.wide {
        padding: 0;
    }
    
    #secret section[id^="secret"] {
        padding-top: inherit;
    }

    .anker-secret ul > li {
        width: calc(100% / 3);
    }

    .anker-secret li:nth-child(3n) .secret-numbering-title:last-child:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1px;
        height: 20px;
        margin: auto;
        background: #000000;
    }

    .anker-secret .secret-numbering-title {
        font-size: 1.1rem;
    }

    .secret-head h3.title {
        position: static;
        margin: 30px 0;
        padding: 0 20px;
    }

    .secret-head .eng.line {
        flex-direction: row;
        color: #fc8d7d;
    }

    .secret-head .eng.line::after {
        background: #fc8d7d;
        margin-left: 25px;
        margin-right: 0;
    }

    .secret-head h2 {
        position: static;
        height: auto;
        margin: 0 0 40px 0;
        padding: 0 20px;
        font-size: 2.3rem;
        text-align: center;
    }

    section[id^="secret"] ul > li {
        width: 100%;
        padding: 0 20px;
    }

    .taste .text-area,
    .materials .text-area,
    .nonfly .text-area {
        display: block;
        width: 100%;
        margin: 20px 0 0;
    }

    .materials .text-area {
        padding: 0 20px;
    }

    #secret section[id^="secret"] .text-area .catch {
        margin-bottom: 10px;
        font-size: 1.8rem;
    }

    .about-born ul > li {
        width: 100%;
    }

    .about-born ul > li + li {
        margin-top: 50px;
    }

    .about-born .text-area {
        min-height: auto;
    }

}


/*
 * about croutons
***********************************************/
#about_croutons .photo {
    width: 58.718%;
}

#about_croutons section:not(.pagelink-area) .text-area {
    width: 41.282%;
}

#about_croutons .about-crouton li + li {
    margin-top: 60px;
}

#about_croutons .about-crouton li:first-child .text-area {
    padding-left: 4rem;
}

#about_croutons .about-crouton li:last-child .text-area {
    padding-right: 4rem;
}

#about_croutons .crouton-or-rask .width-fixed + .width-fixed {
    margin-top: 60px;
}

#about_croutons .crouton-or-rask .text-area {
    padding-left: 4rem;
}

#about_croutons .crouton-or-rask .width-fixed + figure {
    margin-top: 60px;
}

#about_croutons .for-secret5 .photo {
    width: 48.632%;
}

#about_croutons section.for-secret5 .text-area {
    position: relative;
    width: 51.368%;
    padding-left: 6rem;
}

#about_croutons .for-secret5 .catch {
    font-family: 'Noto Serif Japanese', serif;
    font-size: 1.8rem;
}

#about_croutons .for-secret5 .text-area .more {
    position: absolute;
    right: 0!important;
}

#about_croutons .for-secret5 .catch + .cont-txt {
    margin-top: 15px;
}

@media ( max-width: 768px ) {
    #about_croutons .photo {
        width: 100%;
    }

    #about_croutons section:not(.pagelink-area) .text-area {
        width: 100%;
    }

    #about_croutons .about-crouton li:first-child .text-area,
    #about_croutons .about-crouton li:last-child .text-area,
    #about_croutons section:not(.pagelink-area) .text-area {
        margin-top: 30px;
        padding: 0;
    }

    #about_croutons .crouton-or-rask figure img {
        width: 100%;
    }

    #about_croutons .for-secret5 .photo {
        width: 100%;
    }

    #about_croutons .for-secret5 .photo + .text-area {
        margin-top: 30px;
        padding-bottom: 51px;
    }
}


/*
 * birth
***********************************************/
#birth section:not(.pagelink-area) .photo {
    width: 58.718%;
}

#birth section:not(.pagelink-area) .text-area {
    width: 41.282%;
}

.birth-of-secret .cont-txt + .width-fixed,
.safty-reassurance .cont-txt + .width-fixed {
    margin-top: 60px;
}

.birth-of-secret li + li {
    margin-top: 30px;
}

.birth-of-secret li:first-child .text-area,
.birth-of-secret li:last-child .text-area {
    padding-left: 4rem;
}

.birth-of-secret li:nth-child(2) .text-area {
    padding-right: 4rem;
}

.safty-reassurance .safety-title {
    font-family: 'Noto Serif Japanese', serif;
    font-size: 2.2rem;
}

.safty-reassurance .safety-title + .row {
    margin-top: 60px;
}

.safty-reassurance .width-fixed + .width-fixed {
    margin-top: 90px;
}

.safty-reassurance .width-fixed:first-of-type .text-area {
    padding-left: 4rem;
}

.safty-reassurance .width-fixed:last-of-type .text-area {
    padding-right: 4rem;
}

#birth section:not(.pagelink-area) .photo {
    width: 48.676%;
}

#birth section:not(.pagelink-area) .text-area {
    position: relative;
    width: 51.324%;
}

.package .text-area {
    position: relative;
    padding-left: 3rem;
    font-family: 'Noto Serif Japanese', serif;
    font-size: 2.2rem;
    background: #f3f4f3;
}

.package .text-area .more {
    position: absolute;
    right: 3rem;
    bottom: 1rem;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    #birth section:not(.pagelink-area) .photo {
        width: 100%;
    }

    #birth section:not(.pagelink-area) .text-area {
        width: 100%;
    }

    .birth-of-secret .cont-txt + .width-fixed,
    .safty-reassurance .cont-txt + .width-fixed {
        margin-top: 30px;
    }

    .birth-of-secret li:first-child .text-area,
    .birth-of-secret li:last-child .text-area {
        margin-top: 30px;
        padding-left: 0;
    }

    .birth-of-secret li:nth-child(2) .text-area {
        margin-top: 30px;
        padding-right: 0;
    }

    .safty-reassurance .safety-title {
        font-size: 1.8rem;
    }

    .safty-reassurance .safety-title + .row {
        margin-top: 20px;
    }

    .safty-reassurance .width-fixed + .width-fixed {
        margin-top: 40px;
    }

    .safty-reassurance .width-fixed:first-of-type .text-area {
        margin-top: 30px;
        padding-left: 0;
    }

    .safty-reassurance .width-fixed:last-of-type .text-area {
        margin-top: 30px;
        padding-right: 0;
    }

    .package .text-area {
        padding: 30px 20px 60px;
    }

    .package .text-area.row {
        margin: 0;
    }

    .pagelink-area .text-area .more {
        right: 5px !important;
    }
}
