@charset "UTF-8";

@font-face {
	font-family: 'Noto Serif Japanese';
	font-style: normal;
	font-weight: 400;
	src: url('../webfonts/NotoSerifCJKjp-Regular.woff2') format('woff2'),
		url('../webfonts/NotoSerifCJKjp-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Noto Serif Japanese';
	font-style: normal;
	font-weight: 500;
	src: url('../webfonts/NotoSerifCJKjp-Medium.woff2') format('woff2'),
		url('../webfonts/NotoSerifCJKjp-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Noto Serif Japanese';
	font-style: normal;
	font-weight: 700;
	src: url('../webfonts/NotoSerifCJKjp-Bold.woff2') format('woff2'),
		url('../webfonts/NotoSerifCJKjp-Bold.woff') format('woff');
}

/*-------------------------------------------
// layout
---------------------------------------------*/
html {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	min-width: 1170px;
}

body {
	width: 100%;
	font-size: 1.5rem;
	color: #000000;
	-webkit-text-size-adjust: 100%;
	font-feature-settings: "palt";
	word-wrap: break-word;
	line-height: 1.8;
	font-family: "メイリオ", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "游ゴシック", YuGothic, "ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;
	-ms-overflow-style: scrollbar;
	background-color: #ffffff;
	position: relative;
}
body::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 270px;
	height: 100%;
	background-color: #fc8d7d;
}
#wrap {
	position: relative;
}
main {
	width: 100%;
}
section {
	padding-top: 110px;
	padding-left: 315px;
	overflow: hidden;
}
section:nth-of-type(1) {
	padding-top: 60px;
}
section.wide {
	padding-left: 0;
}
.inner {
	padding: 0 40px 0 300px;
}
.width-fixed {
	/*max-width: 1210px;*/
	padding-right: 40px;
}
section.wide figure img{
	width:100%;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	html,
	body {
		min-width: initial;
		min-width: auto;
	}
	body::before{
		content: none;
	}
	section {
		padding: 50px 20px 0 20px;
	}
	section.wide {
		padding: 50px 0 0 0;
	}
	.contents {
		padding-top: 45px;
	}
	.inner {
		padding: 0;
	}
	section.wide .inner {
		padding: 0 20px;
	}
	.width-fixed {
		padding-right: 0;
	}
}
@media screen and (width: 768px) and (orientation: portrait) {
	body,
	html {
		min-width: 1170px;
		min-height: 1560px;
	}
}

/*-------------------------------------------
// header
---------------------------------------------*/
header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 270px;
	height: 100%;
	text-align: center;
	font-family: 'Noto Serif Japanese', serif;
	font-weight: 500;
	font-size: 1.4rem;
	background-color: rgba(252,141,125,0.65);
	padding-bottom: 80px;
}
header .logo-area {
	padding: 20px 0;
}
header .logo-area h1 {
	line-height: 1;
}
header #site-navi > ul {
	font-size: 1.4rem;
	padding: 20px 0;
}
header #site-navi hr {
	width: 200px;
	height: 1px;
	margin: auto;
	background-color: #000000;
	border: none;
}
.header #site-navi > ul > li:hover {
	-webkit-transition: .4s ease-out;
	-moz-transition: .4s ease-out;
	-ms-transition: .4s ease-out;
	-o-transition: .4s ease-out;
	transition: .4s ease-out;
}

header #site-navi > ul > li > a {
	position: relative;
	display: block;
	width: 100%;
	height: 37px;
	line-height: 37px;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
}
header #site-navi > ul > li > a:not(.current):before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 50%;
	height: 1px;
	margin: auto;
	background: #000;
	transform: scale(0, 1);
	transition: .4s;
}
header #site-navi > ul > li > a:not(.current):hover:before {
	transform: scale(1);
}
header #site-navi > ul > li > a.current:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 60px;
	height: 1px;
	margin: auto;
	background: #000;
}
header #site-navi > ul > #slide-navi .site-subnavi {
	/* display: none; */
	opacity: 0;
	position: absolute;
	z-index: -1;
	left: -100%;
	top: 0;
	width: 390px;
	height: 100vh;
	padding: 35px 35px 0 35px;
	background: rgba(252,141,125,0.8);
	font-size: 1.2rem;
	line-height: 1.2;
	transition: 1s;
}
header #site-navi > ul > #slide-navi:hover  .site-subnavi {
	opacity: 1;
	left: 100%;
}
header #site-navi > ul > li .site-subnavi dt {
	font-size: 1.4rem;
}
header #menu-navi .site-subnavi dt img {
	width: 100%;
	height: auto;
}
.header #site-navi .menu-area.row {
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 5px;
}
.header #site-navi .menu-area.row .col-4 {
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 10px;
}
.header #site-navi dt,.header #site-navi .menu-area.row li{
	opacity: 1;
	transition: 0.5s;
}
.header #site-navi dt:hover,.header #site-navi .menu-area.row li:hover{
	opacity: 0.5;
	transition: 0.5s;
}
header #site-navi > ul > li .site-subnavi figure {
	margin-bottom: 5px;
}

header .shareList {
	display: table;
	width : 200px;
	margin: auto;
	border-top: solid 1px #000000;
	padding: 20px 20px 0 20px;
	table-layout: fixed;
	line-height: 1;
	text-align: center;
}
header .shareList li {
	display: table-cell;
	vertical-align: middle;
	width: 100px;
}
header .insta_btn {
	color: #000;
	display: block;
	padding: 10px;
}
header .insta_btn .fa-instagram {
	font-size: 3.0rem;
}
header .insta_btn .fa-facebook-f {
	font-size: 1.5rem;
}
header .insta_btn .fa-line {
	font-size: 2.0rem;
}

#menu-background,
#menu-cb,
#menu-icon,
#nav-cb {
	display: none;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	header {
		left: 0;
		top: 0;
		z-index: 9999;
		width: 100%;
		height: auto !important;
		text-align: left;
		padding-bottom: 0;
	}
	header .logo-area {
		width: 100%;
		position: fixed;
		z-index: 3;
		height: 45px;
		background-color: #fc8d7d;
		padding: 0;
	}
	header .logo-area h1 {
		padding-top: 5px;
		margin-left: 15px;
	}
	header h1 img {
		width: auto;
		height: 35px;
	}
	header #menu-icon {
		position: relative;
	}
	header #menu-icon::after {
		position: absolute;
		right: 13px;
		-webkit-font-smoothing: antialiased;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		font-family: "Font Awesome 5 Pro";
		font-weight: 400;
		content: '\f0c9';
		font-size: 1.8rem;
		line-height: 45px;
	}
	header #menu-cb:checked ~ #menu-icon::after {
		right: 16px;
		content: '\f00d';
	}
	header #menu-icon {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1000;
		width: 45px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		cursor: pointer;
		transition: all 0.3s;
	}
	header #menu-navi {
		position: fixed;
		top: 45px;
		z-index: 100;
		display: block;
		width: 100vw;
		height: 100vh;
		background-color: #fc8d7d;
		transition: all .5s;
		transform: translateX(100%);
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		text-align: center;
	}

	/*-- checkboxをクリックしたとき --*/
	header #menu-cb:checked ~ #menu-navi {
		transform: translateX(0);
		padding-bottom: 50px;
	}
	header .shareList {
		position: absolute;
		top: 4px;
		right: 45px;
		z-index: 4;
		width : auto;
		margin: 0;
		border-top: none;
		padding: 0;
	}
	header .shareList li {
		width: auto;
	}
	header .insta_btn {
		padding: 8px 0;
		width: 30px;
		text-align: center;
	}
	header .insta_btn .fa-instagram {
		font-size: 2.2rem;
	}
	header .insta_btn .fa-facebook-f {
		font-size: 1.6rem;
	}
	header .insta_btn img {
		font-size: 2.2rem;
	}

	/*--PCの打ち消し--*/
	header #site-navi hr {
		display: none;
	}
	header #site-navi > ul {
		width: 100%;
		padding: 10px 12px;
		font-size: 1.4rem;
		border-top: solid 1px #000000;
	}
	header #site-navi > ul > li > a {
		display: block;
		width: 100%;
		height: auto;
		line-height: 1.6;
		padding: 10px 0;
	}
	header #site-navi > ul > li > a {
		position: relative;
	}
	header #site-navi > ul > li > a:not(.current):before {
		content: none;
	}
	header #site-navi > ul > li a.sp-aco::before {
		content: "\f067";
		position: absolute;
		top: 12px;
		right: 0;
		z-index: 1;
		margin: auto;
		border: none;
		display: block;
		-webkit-font-smoothing: antialiased;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		font-family: "Font Awesome 5 Pro";
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 1;
		color: #000000;
	}
	header #site-navi > ul > li > a.sp-aco.js-active::before {
		content: "\f068";
	}

	header #site-navi > ul > #slide-navi:hover .site-subnavi {
		position: static;
		background: none;
		width: 100%;
		padding: 10px 0;
		height: auto;
		transition: none;
	}
	header #site-navi > ul > li .site-subnavi dt {
		font-size: 1.2rem;
	}
	header #site-navi > ul > li .site-subnavi dd {
		font-size: 1.0rem;
		line-height: 1.2;
	}
	.header #site-navi .menu-area.row {
		margin-top: 0;
	}
}




/*-------------------------------------------
// footer
---------------------------------------------*/
footer {
	position: relative;
	padding: 60px 0;
	background: #000000;
	color: #fff;
	text-align: center;
	z-index: 100;
}
footer .container {
	width: 910px;
	margin: auto;
}
footer a {
	color: #fff;
}
footer a:hover {
	opacity: 0.7;
}
footer .category-list {
	margin: 60px 0 40px 0;
	font-family: 'Noto Serif Japanese', serif;
	font-weight: 400;
	font-size: 1.4rem;
	text-align: left;
	border-left: solid 1px #808080;
}
footer .category-list li {
	border-right: solid 1px #808080;
}
footer .category-list li a {
	display: block;
	padding: 8px 20px;
}
footer .category-list li .arrow:hover {
	color: #ffffff;
}
footer .category-list li .arrow:hover::after {
	border-color: #ffffff;
}
footer .other-list {
	font-family: 'Noto Serif Japanese', serif;
	font-weight: 400;
	font-size: 1.2rem;
	margin-bottom: 35px;
}
footer .other-list li + li {
	margin-left: 20px;
}
footer .copyright {
	font-size: 1.2rem;
}
.page-top {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	z-index: 9999;
	display: none;
}
.page-top.is-active {
	display: block;
}
.page-top img {
	width: 100%;
	height: auto;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	footer {
		padding: 30px 0;
	}
	footer .container {
		width: 100%;
		padding: 0 20px;
	}
	footer .footer-logo img {
		width: 67px;
		height: auto;
	}
	footer .category-list {
		margin: 20px 0;
		border-left: none;
		border-top: solid 1px #ffffff;
	}
	footer .category-list ul {
		padding-top: 20px;
	}
	footer .category-list li {
		border-right: none;
	}
	footer .col-sm-12 + .col-sm-12 {
		margin-top: 2px;
	}
	footer .copyright {
		font-size: 1.0rem;
	}
	#js-page-top {
		width: 50px;
		height: 50px;
	}

}

/*-------------------------------------------
// access-area
---------------------------------------------*/
#access-area {
	position: relative;
	padding-bottom: 100px;
}
#access-area img {
	width: 100%;
	height: auto;
}
#access-area .img-area {
}
#access-area .links {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1.2rem;
	letter-spacing: 2px;
	margin: 60px 40px 0 0;
}
#access-area .links li + li {
	margin-left: 60px;
}

#access-area .map dl {
	margin: 10px 0 50px 40px;
}
#access-area .map dt {
	font-size: 1.8rem;
	font-weight: bold;
}
#access-area .map dd {
	font-size: 1.4rem;
}
#access-area .map .gmap {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
#access-area .map .gmap iframe,
#access-area .map .gmap object,
#access-area .map .gmap embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	#access-area {
		padding-left: 20px;
		padding-right: 20px;
	}
	#access-area .inner {
		padding: 0;
	}
	#access-area .links {
		margin: 20px 0 0 0;
	}
	#access-area .map dl {
		margin: 10px 0 30px 0;
	}
	#access-area .map dt {
		font-size: 1.4rem;
	}
	#access-area .map dd {
		font-size: 1.0rem;
	}
}

/*-------------------------------------------
// pagelink-area
---------------------------------------------*/
.pagelink-area {
	background: url(../images/bg_pagelink.png) no-repeat left top;
	background-size: cover;
	margin: 110px 0 0 270px;
	padding: 80px 0 55px 40px;
}
.pagelink-area li {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.pagelink-area li figure {
	padding: 0;
}
.pagelink-area .text-area {
	position: relative;
	margin-top: 15px;
	padding-bottom: 65px;
	width: 100%;
}
.pagelink-area .text-area .ttl {
	font-family: 'Noto Serif Japanese', serif;
	font-weight: 500;
	font-size: 1.6rem;
}
.pagelink-area .text-area .eng {
	font-size: 1.0rem;
	color: #fc8d7d;
	letter-spacing: 1.4px;
}
.pagelink-area .text-area .more {
	position: absolute;
	right: 0!important;
	bottom: 0;
}
.pagelink-area .one-item.active figure {
	border: solid 2px #fc8d7d;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.pagelink-area {
		background: url(../images/bg_pagelink.png) no-repeat left top;
		background-size: cover;
		margin: 50px 0 0 0;
		padding: 0;
	}
	.pagelink-area ul {
		padding: 30px 10px;
	}
	.pagelink-area ul li + li {
		margin-top: 20px;
	}
	.pagelink-area .one-item {
		display: flex;
	}
	.pagelink-area .text-area {
		margin-top: 10px;
		padding: 0 5px 0 10px;
		padding-bottom: 0;
	}
	.pagelink-area .text-area .ttl {
		font-size: 1.5rem;
	}
	.pagelink-area .text-area .more {
		right: 5px;
		bottom: -5px;
	}

}

/*-------------------------------------------
// common class
---------------------------------------------*/
a {
	color: #000000;
	text-decoration: none;
}

/*-------------------------------------------------
 main-visual */
.main-visual {
	position: relative;
	width: 100%;
}
.main-visual .inner {
	padding-right: 0;
}
.main-visual figure img {
	width: 100%;
	height: auto;
}
.main-visual h2 {
	font-family: 'Noto Serif Japanese', serif;
	font-weight: 500;
	font-size: 3.6rem;
	text-align: right;
	letter-spacing: 3px;
	z-index: 1;
	position: absolute;
	top: 45%;
	right: 80px;
	transform: translateY(-50%);
	-webkit- transform: translateY(-50%);
	margin: auto;
}
.main-visual h2.wht {
	color: #ffffff;
}

.main-visual h2 small {
	display: block;
	font-size: 2.4rem;
	line-height: 1.2;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
	.main-visual h2 {
		font-size: 2.4rem;
		position: static;
		transform: none;
		-webkit- transform: none;
		margin-top: 35px;
		color: inherit !important;
		text-align: center;
	}
}

/*-------------------------------------------------
 eng */
.eng {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1.6rem;
}
.eng.line {
	display: block;
	position: relative;
	color: #fc8d7d;
	display: flex;
	align-items: center;
	width: 585px;
	top:-10px;
}
.eng.line::after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background: #fc8d7d;
	display: block;
	
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.eng.line {
		width: 100%;
	}
.eng {
	font-size: 1.0rem;
}
}

/*-------------------------------------------------
 title */
#access-area h2,
.contents h3.title {
	font-family: 'Noto Serif Japanese', serif;
	font-weight: 500;
	font-size: 2.4rem;
	margin-bottom: 40px;
}

.lineup .text-area .ttl {
	font-family: 'Noto Serif Japanese', serif;
	font-weight: 500;
	font-size: 1.8rem;
}
.lineup .text-area .ttl small {
	font-size: 1.4rem;
	font-weight: 500;
}
.lineup .text-area .ttl .eng {
	display: block;
	font-size: 1.2rem;
	letter-spacing: 1px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	#access-area h2,
	.contents h3.title {
		font-size: 2.0rem;
		margin-bottom: 20px;
	}
}

/*-------------------------------------------------
 txt */
.cont-txt {
	line-height: 2;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.cont-txt {
		font-size: 1.2rem;
		line-height: 2;
	}
}





/*-------------------------------------------------
 label */
.label {
	display: inline-block;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1;
	padding: 5px 20px;
	text-align: center;
	background-color: #f1785d;
	vertical-align: middle;
}
.label.new {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.title .label {
	margin-top: -6px;
	margin-left: 20px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.label {
		font-size: 1.2rem;
		padding: 5px 0px;
	}
}

/*-------------------------------------------------
 zoomup */
.one-item .zoom {
	position: relative;
	overflow: hidden;
}
.one-item .zoom img {
	-moz-transition: -moz-transform 0.5s linear;
	-webkit-transition: -webkit-transform 0.5s linear;
	-o-transition: -o-transform 0.5s linear;
	-ms-transition: -ms-transform 0.5s linear;
	transition: transform 0.5s linear;
}
.one-item:hover .zoom img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

/*-------------------------------------------------
 link-icon */
.arrow {
	display: inline-block;
	position: relative;
	padding-right: 20px;
}
.arrow:hover {
	color: #f1785d;
}
.arrow::after {
	position: absolute;
	content: "";
	right: 3px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 15px;
	height: 6px;
	border-right: 3px solid #000000;
	border-bottom: 2px solid #000000;
	transform: skewX(45deg);
}
.arrow:hover::after {
	border-color: #f1785d;
}
/* テキストごと動く */
@-webkit-keyframes hvr {
	50% {
		-webkit-transform: translateX(-15px);
		transform: translateX(-15px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes hvr {
	50% {
		-webkit-transform: translateX(-15px);
		transform: translateX(-15px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
.arrow:hover,
.arrow:focus,
.arrow:active {
	-webkit-animation-name: hvr;
	animation-name: hvr;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

/* 矢印だけ動く */
@-webkit-keyframes hvr-arrow {
	50% {
		-webkit-transform: translateX(-15px) skewX(45deg);
		transform: translateX(-15px) skewX(45deg);
	}
	100% {
		-webkit-transform: translateX(0) skewX(45deg);
		transform: translateX(0) skewX(45deg);
	}
}
@keyframes hvr-arrow {
	50% {
		-webkit-transform: translateX(-15px) skewX(45deg);
		transform: translateX(-15px) skewX(45deg);
	}
	100% {
		-webkit-transform: translateX(0) skewX(45deg);
		transform: translateX(0) skewX(45deg);
	}
}
.arrow.only {
	display: block;
	padding-right: 0;
}

.arrow.only:hover::after,
.arrow.only:focus::after,
.arrow.only:active::after {
	-webkit-animation-name: hvr-arrow;
	animation-name: hvr-arrow;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
.arrow.only:hover,
.arrow.only:focus,
.arrow.only:active {
	-webkit-animation-name: none;
	animation-name: none;
	-webkit-animation-duration: 0;
	animation-duration: 0;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
}
footer .arrow::after {
	right: 20px;
	border-color: #ffffff;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.lineup .arrow::after {
		position: absolute;
		content: "";
		right: 3px;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 8px;
		height: 3px;
		border-right: 2px solid #000000;
		border-bottom: 1px solid #000000;
		transform: skewX(45deg);
	}
}


.blank {
	position: relative;
	padding-right: 10px;
}

.blank::after {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	top: 0;
	right: -7px;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	font-size: 1.0rem;
	line-height: 1;
	content: '\f2d2';
}

.js-clickArea.on {
	cursor: pointer;
}
.js-clickArea.off {
	cursor: default;
}
.js-clickArea.on .arrow::after {
	border-color: #f1785d;
}

.js-clickArea.on .more {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.js-clickArea:hover .more,
.js-clickArea:focus .more,
.js-clickArea:active .more {
	-webkit-animation-name: hvr;
	animation-name: hvr;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.more {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1.2rem;
	text-align: right;
	letter-spacing: 1px;
}
.more a {
	padding-top: 15px;
	padding-bottom: 15px;
}
.more a:hover,
.js-clickArea.on .more a {
	color: #f1785d;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.more {
		font-size: 1.0rem;
	}
}

/* table */
.cmn-table {
	width: 100%;
	border-top: solid 1px #000000;
}
.cmn-table th,
.cmn-table td {
	padding: 20px 10px;
	border-bottom: solid 1px #000000;
}
.cmn-table th {
	width: 22%;
	vertical-align: top;
}


.pc{
	display: block;
}
.sp{
	display: none;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
	.pc{
		display: none;
	}
	.sp{
		display: block;
	}
}